<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Document Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of documents" (click)="gotoPage(item.url)">
    <ion-item>
      <ion-thumbnail class="ion-thumbnail">
        <ion-icon name="{{item.icon}}" expand="icon-only" class="icon-thumbnail"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <div class="div1"></div>
        <div class="div2"></div>
        <div class="div3"></div>
      </ion-label>
    </ion-item>
    <div class="card_bottom_item">
      <h2>{{item.name}}</h2>
    </div>
  </ion-card>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center color="dark">Driver License</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="driver_info.license_approve === undefined" text-center class="loaderSection">
    <ion-spinner name="lines"></ion-spinner>
  </div>
  <div *ngIf="!driver_info.license_approve" class="emptyDiv">
    Please upload Driver License Photo or take it with camera.
    Touch bellow button for this.
  </div>
  <div *ngIf="driver_info.license_approve">
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="driver_info.avata_img">
        </ion-avatar>
        <ion-label>
          <h3>{{driver_info.name}}</h3>
          <!-- <p>Dec 10, 2019</p> -->
        </ion-label>
      </ion-item>
      <img [src]="driver_info.license_img" >
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <div class="footer_center_item">
    <div class="footer_center_item_background" (click)="editPhoto()">
      <ion-avatar class="avatar_class1">
        <ion-icon name="add" expand="icon-only" class="icon_avatar1"></ion-icon>
      </ion-avatar>
    </div>
  </div>
</ion-footer>
