<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!driveStatus">
      Offline
    </ion-title>
    <ion-title *ngIf="driveStatus">
      Online
    </ion-title>
    <ion-toggle slot="end" [(ngModel)]="driveStatus" (ionChange)="driverStatusChange($event, true)" color="secondary"
      [disabled]="driverService.rideInProgress">
    </ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div *ngIf="!driveStatus">
    <ion-item color="secondary">
      <ion-avatar slot="start" class="nightModeIcon">
        <img src="assets/nightMode.png" />
      </ion-avatar>
      <ion-label class="textBold">You are Offline</ion-label>
    </ion-item>
  </div>

  <div>
    <!-- You can show the booked ride full route or just the starting point as your business logic suggests -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
      (mapReady)="mapReady(true, $event)" [styles]="style">
      <agm-marker *ngIf="!driverService.rideInProgress" [latitude]="lat" [longitude]="lng" [markerDraggable]="true" 
        [iconUrl]="markerUrl" (dragEnd)="markerDragEnd($event)"></agm-marker>
      
      <agm-direction *ngIf="driverService.rideInProgress" [origin]="userData.destination"
        [destination]="userData.origin">
      </agm-direction>
    </agm-map>
  </div>
</ion-content>

<ion-footer *ngIf="!driverService.rideInProgress">
  <div class="driverCardBottom">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="driverlocationIcon" color="dark"
      (click)="getcurrentLocations()">
      <ion-fab-button>
        <ion-icon name="locate" class="locationIcon"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-card no-padding no-margin slot="fixed" class="driverCard fixed">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="auth.loggedInUser.profileImg" />
        </ion-avatar>
        <ion-label text-capitalize> <b>{{auth.loggedInUser.name}}</b></ion-label>
        <ion-button (click)="showUpcomingRides()">Show Upcoming:&nbsp;<b>{{totalUpcomingCounter}}</b></ion-button>
        <span fill="outline" slot="end"> <b>${{totalEarning}}</b></span>
      </ion-item>

      <ion-card-content color="primary" no-margin>
        <div class="cardContent">
          <div class="driverDetails">
            <ion-icon name="time" class="driverStatusIcons"></ion-icon>
            <ion-label class="textColor textBold detailsLabel">{{totalHour}}h {{totalMin}}Min</ion-label>
            <p text-uppercase class="detailText ">Hours Online</p>
          </div>
          <div class="driverDetails">
            <ion-icon name="speedometer" class="driverStatusIcons"></ion-icon>
            <ion-label text-uppercase class="textColor textBold detailsLabel">{{totalDistance}} KM</ion-label>
            <p text-uppercase class="detailText">Total Distance</p>
          </div>
          <div class="driverDetails">
            <ion-icon name="time" class="driverStatusIcons"></ion-icon>
            <ion-label class="textColor textBold detailsLabel">{{totalTripCounter}}</ion-label>
            <p text-uppercase class="detailText">Total Jobs</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-footer>

<ion-footer *ngIf="driverService.rideInProgress">
  <div class="relative">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="userlocationIcon" color="dark" padding-bottom
      (click)="getcurrentLocations()">
      <ion-fab-button>
        <ion-icon name="locate" class="locationIcon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card slot="fixed" class="userCard">
      <ion-card-header color="light" class="userCardHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="dFlex" align-items-center>
              <ion-thumbnail>
                <img [src]="userData.profileImg" class="userIcon" />
              </ion-thumbnail>
            </ion-col>

            <ion-col size="6" class="dFlex" align-items-center>
              <div>
                <ion-row><ion-label>{{ userData.name }}</ion-label></ion-row>
                <ion-row>
                  <ion-label class="textBold">{{userData.tripDistance}}&nbsp;&nbsp;${{userData.estimateFire}}</ion-label>
                </ion-row>
              </div>
            </ion-col>
            <ion-col size="3">
              <div>
                <ion-row>
                  <ion-col>
                    <ion-button class="detailsBtn userCall" padding-horizontal (click)="userCall()">
                      <div padding class="contactDetails">
                        <ion-icon name="call" class="contactIcon"></ion-icon>
                      </div>
                    </ion-button>
                 
                    <ion-button class="detailsBtn userMsg" padding-horizontal (click)="userMessage()">
                      <div padding class="contactDetails">
                        <ion-icon name="chatbubbles" class="contactIcon"></ion-icon>
                      </div>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

          <ion-row  *ngIf="scheduleRide && !(scheduleDate === null)">
            <ion-col>
              <ion-label class="textBold lightTextColor nowrap">Schedule Date:&nbsp;{{scheduleDate}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content color="light" no-margin class="userCard-conetnt" *ngIf="!scheduleRide">
        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Pick Up</div>
          <ion-label class="detailsLabel textColor textBold">{{ userData.startAddress }}</ion-label>
        </div>

        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Drop Off</div>
          <ion-label class="detailsLabel  textColor textBold">{{ userData.endAddress }}</ion-label>
        </div>

        <div>
          <div class="userCardFooter">
            <ion-button expand="block" color="light" class="textBold boxShadow" (click)="completeRide()">Complete Ride
            </ion-button>
          </div>
        </div>
      </ion-card-content>

      <ion-card-content color="light" no-margin class="userCard-conetnt" *ngIf="scheduleRide">
        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Pick Up</div>
          <ion-label class="detailsLabel textColor textBold">{{ userData.startAddress }}</ion-label>
        </div>

        <div class="borderBottom paddingVertical">
          <div class="detailText fontSmall" text-uppercase>Drop Off</div>
          <ion-label class="detailsLabel  textColor textBold">{{ userData.endAddress }}</ion-label>
        </div>

        <div>
          <div class="userCardFooter">
            <ion-button expand="block" color="light" class="textBold boxShadow" (click)="uncompletedscheduleRide()">Confirm scheduleRide
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-footer>